name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17

    - name: Build with Maven
      working-directory: app/devops-demo
      run: mvn clean install

    - name: Run tests
      run: echo "No tests yet"

    - name: Build Docker image
      run: docker build -t devops-demo app/devops-demo
      
    - name: Run health check
      run: |
        cd app/devops-demo
        chmod +x healthcheck.sh
        ./healthcheck.sh

